:root {
    font-family: var(--font-roboto);
}

.filter-section {
    margin-top: 3rem;
    position: fixed;
    width: 20vw;
    background-color: var(--white);
    height: 100%;
    padding: 1rem 2rem;
}

.filter-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.filter-section-header-title {
    font-size: 1rem;
    font-weight: 700;
}

.filter-section-header-action {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.filter-section-header-action:hover {
    text-decoration: none;
}

.filter-section-content {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.filter-section-content-title {
    padding: 0.25rem 0;
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.filter-section-content-action {
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.flex-flow-vertical {
    flex-direction: column;
}

.action-item-text {
    font-size: 0.75rem;
    padding: 0 0.5rem;
    font-weight: 500;
}

.filter-section-content-slider {
    width: 100%;
    color: var(--charcoal-black);
}

.slider-label-group {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

