.nav-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.nav-menu {
    top: 3.5rem;
    position: fixed;
    min-height: calc(100vh - 3.5rem);
    width: 25%;
    margin-left: auto;
}

.nav-search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-search-input {
    padding: 0.25rem;
    padding-left: 2rem;
    width: 100%;
    outline: none;
    border-style: solid;
    color: var(--charcoal-black);
    border-color: var(--charcoal-gray);
    border-radius: 0.25rem;
}

.search-icon {
    position: absolute;
    left: 0;
    padding: 0.25rem;
    padding-top: 0.375rem;
}

.logo img {
    width: 5.5rem;
    height: 2rem;
}

.nav-menu-link .item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

